.customButton {
  gap: 4px;
  padding: 4px 8px;
  border-radius: 8px;
  background-color: #7071f3;
  color: #fff;
  border: none;
  font-weight: 600;
  font-size: 1rem;
  cursor: pointer;
  transition: background 0.2s;
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #fff;
}
.customButton:hover {
  background-color: #5758c5;
}
