.table {
  display: flex;
  flex-direction: column;
  width: 100%;
  font-size: 14px;
  background-color: #e6e8ec;
}

.header {
  display: flex;
  font-weight: bold;
  border-bottom: 1px solid #ccc;
  height: 50px;
  align-items: center;
  height: 24px;
  align-self: stretch;
  flex-grow: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.label {
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #55687d;
}

.row {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #eee;
}

.header > div,
.row > div {
  flex: 1;
  padding: 0 10px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
