.table {
  display: flex;
  flex-direction: column;
  width: 100%;
  font-size: 14px;
  background-color: #e6e8ec;
  padding: 10px 10px;
  box-sizing: border-box;
  border: none;
}

.header {
  display: flex;
  position: relative;
  bottom: 5px;
  font-weight: bold;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.label {
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 500;
  text-align: left;
  color: #55687d;
}

.row {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #eee;
  width: 98%;
  margin: 0 auto;
  border-radius: 8px;
  background: white !important; // צהוב בולט עם !important
  box-shadow: none;
}

.header > div,
.row > div {
  flex: 1;
  padding: 0 10px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
